.header {
    padding: 46px 0 56px;

}

.header__row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.header__logo span {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header__nav {

}

