.footer {
    background-color: #000;
}

.footer__row {
    padding: 119px 0 149px;
    color: #8E8E8E;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.footer__subscribe {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    max-width: 415px;
}

.footer__logo {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 1.2px;
    color: #fff;
}

.footer__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.4px;
}

.footer__socials {
    display: flex;
    column-gap: 17px;
}

.footer__socials a {
    transition: brightness 0.2s ease-in;
}

.footer__socials a:hover {
    filter: brightness(120%);
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    min-width: 850px; 
}

.nav__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    min-height: 273px;
    justify-content: space-between;
}

.footer__nav a {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.4px;
    color: #8E8E8E;
}

.footer__nav .nav__title a {
    color: #D9D9D9;
}



